*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Poppins;
    color: white;
    background-color:rgba(0, 0, 0, 0.664)
}

.conatiner{
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.postcard{
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius:30px;
}

.heading {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img{
    width: 80px;
    height: auto;
}

.content{
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.l-col .r-col{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p{
    padding: 10px 5px;
}


input{
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    border: none;
    border-bottom: 2px solid gray;
}


.footer{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 150px;
    height: 30px;
    background-color: #007bff;
    border: none;
    border-radius: 30px;
    color: white;
}

.btn:hover{
    color: #007bff;
    background-color: white;
    border: 2px solid #007bff;
    transition: ease-in-out;
    transform: scale(1.1);
}